* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1F2937;
}

/* Header/navbar */

header {
    background-color: #1F2937;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    font-family: 'Roboto';
    justify-content: space-between;
    align-items: center;
    height: 3vh;
}

header h2 {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 2.5vw;
}

nav ul {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    color: white;
}

nav ul li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;

}

/* About section */

#about {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 45vh;

}

#textbox {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    margin-right: 2.5vw;
    justify-content: space-between;
    align-items:center;
}

#about h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
}

#about p {
    color: #e5e7eB;
    font-size: 18px;
    text-align: justify;
    line-height: 125%;
}

#button-box {
    width: 100;
    align-self: flex-start;
}

#about img {
    width: 30vw;
    height: auto;
}

/* Products section */

#our-products {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

#our-products h2 {
    margin-bottom: 40px;
    font-size: 36px;
}

#our-products #wallpapers {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

#our-products .img-div {
    display: flex;
    flex-direction: column;
}

#our-products p {
    font-size: 20px;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    margin-top: 15px;
}

#our-products img {
    height: 30vh;
    width: 30vh;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Quote section */

#quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}

#quote-section p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-bottom: 10px;
    width: 90vw;
}

/* Signup section */

#signup {
    background-color: white;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bluebox {
    background-color: #3882f6;
    height: 30vh;
    width: 70vw;
    display: flex;
    align-items: center;
    border-radius: 12.5px;
    
}

#journey {
    height: 20vh;
    width: 52.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#journey h3 {
    align-self: center;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
}

#journey p {
    color: white;
    font-size: 20px;
}

#button-container {
    display: flex;
    width: 17.5vw;
    align-items: center;
    justify-content: center;
}

/* Signup button */

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    width: 100px;
    height: 30px;
    font-size: 17px;
    font-weight: 800;
}

button:hover {
    background-color: white;
    color: #3882f6;
}

#about-section-button {
    border: none;
}